<section id="quotation" class="align-center padding-large">
    <div class="inner-content">
      <h2 class="section-title divider">Our Delivery Staffs</h2>
     

      <div class="row d-flex flex-wrap">
        <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              <a href="#">
                <img src="../../../assets/images/post-img2.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content d-flex">
               
              <div class="post-header">
  
                <h3 class="post-title text-center m-5" style="align-items: center;">
                 Sara
                </h3>
                <div class="categories text-uppercase">trending</div>
              </div>
            </div>
          </article>
        <article class="col-md-4 post-item">
          <div class="image-holder zoom-effect">
            <a href="#">
              <img src="../../../assets/images/post-img2.jpg" alt="post" class="post-image">
            </a>
          </div>
          <div class="post-content d-flex">
             
            <div class="post-header">

              <h3 class="post-title text-center m-5" style="align-items: center;">
               Sara
              </h3>
              <div class="categories text-uppercase">trending</div>
            </div>
          </div>
        </article>
        <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              <a href="#">
                <img src="../../../assets/images/post-img2.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content d-flex">
               
              <div class="post-header">
  
                <h3 class="post-title text-center m-5" style="align-items: center;">
                 Sara
                </h3>
                <div class="categories text-uppercase">trending</div>
              </div>
            </div>
          </article>
      </div>

    </div>
  </section>
  <hr>