<section id="quotation" class="align-center padding-large">
    <div class="inner-content">
      <h2 class="section-title divider">Categories</h2>
     

      <div class="row d-flex flex-wrap">
        <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              
                
              <img src="../../../assets/images/cat1.webp" style="min-height: 275px;max-height: 275px;" alt="post" class="post-image">

                <!-- <img src="../../../assets/images/cat1.webp" alt="post" class="post-image"> -->
              
            </div>
            <div class="post-content d-flex">
               
              <div class="post-header">
                <a routerLink="/product-list">
                <h3 class="post-title text-center m-5" style="align-items: center;">
                 Dairy Products
                </h3>
                </a>
                 
              </div>
            </div>
          </article>
        <article class="col-md-4 post-item">
          <div class="image-holder zoom-effect">
            <a href="#">
              <img src="../../../assets/images/cat2.jpg" style="min-height: 275px;max-height: 275px;" alt="post" class="post-image">
            </a>
          </div>
          <div class="post-content d-flex">
             
            <div class="post-header">

              <h3 class="post-title text-center m-5" style="align-items: center;">
               Sara
              </h3>
              
            </div>
          </div>
        </article>
        <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              <a href="#">
                <img src="../../../assets/images/post-img2.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content d-flex">
               
              <div class="post-header">
  
                <h3 class="post-title text-center m-5" style="align-items: center;">
                 Sara
                </h3>
                <div class="categories text-uppercase">trending</div>
              </div>
            </div>
          </article>
      </div>

    </div>
  </section>
  <hr>