
        
 

<section id="billboard" class="overflow-hidden">
    <div class="button-container d-flex justify-content-between align-items-center">
        <button class="button-prev">
            <i class="icon icon-chevron-left"></i>
        </button>
        <button class="button-next">
            <i class="icon icon-chevron-right"></i>
        </button>
    </div>
 

    <app-categories>

    </app-categories>

    <app-delivery-boys-list></app-delivery-boys-list>


<script src="assets/vendors/jquery/jquery.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.js"></script>
<script src="assets/vendors/counterup/waypoint.js"></script>
<script src="assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="assets/vendors/jquery.isotope.js"></script>
<script src="assets/vendors/imagesloaded.html"></script>
<script src="assets/vendors/owl/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/pop-up.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-26502703-1"></script>
<script>window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());



    gtag('config', 'UA-26502703-1');</script>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':

                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

    })(window, document, 'script', 'dataLayer', 'GTM-PG67L4B');</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PM1H5WX70L"></script>
<script>window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());



    gtag('config', 'G-PM1H5WX70L');</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1Y2TBN81HL"></script>
<script>window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());



    gtag('config', 'G-1Y2TBN81HL');</script>