<section>
<div class="swiper main-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"
            style="background-image: url('../../../assets/images/banner1.jpg');background-repeat: no-repeat;background-size: cover;">
            <div class="banner-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="banner-title">Summer Collection</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
                                ipsum enim pharetra hac.</p>
                            <div class="btn-wrap">
                                <a href="#" class="btn btn-light btn-medium d-flex align-items-center"
                                    tabindex="0">Shop it now <i class="icon icon-arrow-io"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
</div>
<div class="swiper-pagination"></div>
</section>


<app-categories></app-categories>


<app-delivery-boys-list></app-delivery-boys-list>